/**
 * ----------------------------------------------------------------------
 * Blog section - Standard design (Desktop)
 */

.hentry.design-standard {

	padding-top: emCalc(80px);
	padding-bottom: emCalc(80px);

	.post-format-icon {
		font-size: 2em;
		left: auto;
	}

}