@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot');
	src:url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconfont.woff') format('woff'),
		url('fonts/iconfont.ttf') format('truetype'),
		url('fonts/iconfont.svg#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconfont';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-outlined-heart, .icon-outlined-cloud, .icon-outlined-star, .icon-outlined-tv, .icon-outlined-sound, .icon-outlined-video, .icon-outlined-trash, .icon-outlined-user, .icon-outlined-key, .icon-outlined-search, .icon-outlined-cog, .icon-outlined-camera, .icon-outlined-tag, .icon-outlined-lock, .icon-outlined-bulb, .icon-outlined-pen, .icon-outlined-diamond, .icon-outlined-display, .icon-outlined-location, .icon-outlined-eye, .icon-outlined-bubble, .icon-outlined-drawer, .icon-outlined-cup, .icon-outlined-phone, .icon-outlined-news, .icon-outlined-mail, .icon-outlined-like, .icon-outlined-photo, .icon-outlined-note, .icon-outlined-clock, .icon-outlined-paperplane, .icon-outlined-params, .icon-outlined-banknote, .icon-outlined-data, .icon-outlined-music, .icon-outlined-megaphone, .icon-outlined-study, .icon-outlined-lab, .icon-outlined-food, .icon-outlined-t-shirt, .icon-outlined-fire, .icon-outlined-clip, .icon-outlined-shop, .icon-outlined-calendar, .icon-outlined-wallet, .icon-outlined-vynil, .icon-outlined-truck, .icon-outlined-world, .icon-phone, .icon-mobile, .icon-mouse, .icon-directions, .icon-mail, .icon-paperplane, .icon-pencil, .icon-feather, .icon-paperclip, .icon-drawer, .icon-reply, .icon-reply-all, .icon-forward, .icon-user, .icon-users, .icon-user-add, .icon-vcard, .icon-export, .icon-location, .icon-map, .icon-compass, .icon-location-2, .icon-target, .icon-share, .icon-sharable, .icon-heart, .icon-heart-2, .icon-star, .icon-star-2, .icon-thumbs-up, .icon-thumbs-down, .icon-chat, .icon-comment, .icon-quote, .icon-house, .icon-popup, .icon-search, .icon-flashlight, .icon-printer, .icon-bell, .icon-link, .icon-flag, .icon-cog, .icon-tools, .icon-trophy, .icon-tag, .icon-camera, .icon-megaphone, .icon-moon, .icon-palette, .icon-leaf, .icon-music, .icon-music-2, .icon-new, .icon-graduation, .icon-book, .icon-newspaper, .icon-bag, .icon-airplane, .icon-lifebuoy, .icon-eye, .icon-clock, .icon-microphone, .icon-calendar, .icon-bolt, .icon-thunder, .icon-droplet, .icon-cd, .icon-briefcase, .icon-air, .icon-hourglass, .icon-gauge, .icon-language, .icon-network, .icon-key, .icon-battery, .icon-bucket, .icon-magnet, .icon-drive, .icon-cup, .icon-rocket, .icon-brush, .icon-suitcase, .icon-cone, .icon-earth, .icon-keyboard, .icon-browser, .icon-publish, .icon-progress-3, .icon-progress-2, .icon-brogress-1, .icon-progress-0, .icon-sun, .icon-sun-2, .icon-adjust, .icon-code, .icon-screen, .icon-infinity, .icon-light-bulb, .icon-credit-card, .icon-database, .icon-voicemail, .icon-clipboard, .icon-cart, .icon-box, .icon-ticket, .icon-rss, .icon-signal, .icon-thermometer, .icon-droplets, .icon-untitled, .icon-statistics, .icon-pie, .icon-bars, .icon-graph, .icon-lock, .icon-lock-open, .icon-logout, .icon-login, .icon-checkmark, .icon-cross, .icon-minus, .icon-plus, .icon-cross-2, .icon-minus-2, .icon-plus-2, .icon-cross-3, .icon-minus-3, .icon-plus-3, .icon-erase, .icon-blocked, .icon-info, .icon-info-2, .icon-question, .icon-help, .icon-warning, .icon-cycle, .icon-cw, .icon-ccw, .icon-shuffle, .icon-arrow, .icon-arrow-2, .icon-retweet, .icon-loop, .icon-history, .icon-back, .icon-switch, .icon-list, .icon-add-to-list, .icon-layout, .icon-list-2, .icon-text, .icon-text-2, .icon-document, .icon-docs, .icon-landscape, .icon-pictures, .icon-video, .icon-music-3, .icon-folder, .icon-archive, .icon-trash, .icon-upload, .icon-download, .icon-disk, .icon-install, .icon-cloud, .icon-upload-2, .icon-bookmark, .icon-bookmarks, .icon-book-2, .icon-play, .icon-pause, .icon-record, .icon-stop, .icon-next, .icon-previous, .icon-first, .icon-last, .icon-resize-enlarge, .icon-resize-shrink, .icon-volume, .icon-sound, .icon-mute, .icon-flow-cascade, .icon-flow-tree, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up--upload, .icon-arrow-right, .icon-arrow-left-2, .icon-arrow-down-2, .icon-arrow-up, .icon-arrow-right-2, .icon-arrow-left-3, .icon-arrow-down-3, .icon-arrow-up-2, .icon-arrow-right-3, .icon-arrow-left-4, .icon-arrow-down-4, .icon-arrow-up-3, .icon-arrow-right-4, .icon-arrow-left-5, .icon-arrow-down-5, .icon-arrow-up-4, .icon-arrow-right-5, .icon-arrow-left-6, .icon-arrow-down-6, .icon-arrow-up-5, .icon-untitled-2, .icon-menu, .icon-ellipsis, .icon-dots, .icon-dot, .icon-cc, .icon-cc-by, .icon-cc-nc, .icon-cc-nc-eu, .icon-cc-nc-jp, .icon-cc-sa, .icon-cc-nd, .icon-cc-pd, .icon-cc-zero, .icon-cc-share, .icon-cc-share-2, .icon-github, .icon-github-2, .icon-flickr, .icon-flickr-2, .icon-vimeo, .icon-vimeo-2, .icon-twitter, .icon-twitter-2, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-googleplus, .icon-googleplus-2, .icon-pinterest, .icon-pinterest-2, .icon-tumblr, .icon-tumblr-2, .icon-linkedin, .icon-linkedin-2, .icon-dribbble, .icon-dribbble-2, .icon-stumbleupon, .icon-stumbleupon-2, .icon-lastfm, .icon-lastfm-2, .icon-rdio, .icon-rdio-2, .icon-spotify, .icon-spotify-2, .icon-qq, .icon-instagram, .icon-dropbox, .icon-evernote, .icon-flattr, .icon-skype, .icon-skype-2, .icon-renren, .icon-sina-weibo, .icon-paypal, .icon-picasa, .icon-soundcloud, .icon-mixi, .icon-behance, .icon-circles, .icon-vk, .icon-arrow-soft-up, .icon-ok, .icon-remove, .icon-ok-sign, .icon-question-sign, .icon-info-sign, .icon-exclamation-sign, .icon-remove-sign, .icon-minus-sign, .icon-remove-circle, .icon-ok-circle, .icon-youtube-sign, .icon-youtube, .icon-youtube-play, .icon-anchor, .icon-asterisk, .icon-legal, .icon-shield, .icon-facetime-video, .icon-picture, .icon-pocket, .icon-reddit, .icon-digg, .icon-thinarrow-right, .icon-thinarrow-left, .icon-xing-sign, .icon-xing, .icon-trello, .icon-skype-3, .icon-android, .icon-windows, .icon-apple {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-outlined-heart:before {
	content: "\e000";
}
.icon-outlined-cloud:before {
	content: "\e001";
}
.icon-outlined-star:before {
	content: "\e002";
}
.icon-outlined-tv:before {
	content: "\e003";
}
.icon-outlined-sound:before {
	content: "\e004";
}
.icon-outlined-video:before {
	content: "\e005";
}
.icon-outlined-trash:before {
	content: "\e006";
}
.icon-outlined-user:before {
	content: "\e007";
}
.icon-outlined-key:before {
	content: "\e008";
}
.icon-outlined-search:before {
	content: "\e009";
}
.icon-outlined-cog:before {
	content: "\e00a";
}
.icon-outlined-camera:before {
	content: "\e00b";
}
.icon-outlined-tag:before {
	content: "\e00c";
}
.icon-outlined-lock:before {
	content: "\e00d";
}
.icon-outlined-bulb:before {
	content: "\e00e";
}
.icon-outlined-pen:before {
	content: "\e00f";
}
.icon-outlined-diamond:before {
	content: "\e010";
}
.icon-outlined-display:before {
	content: "\e011";
}
.icon-outlined-location:before {
	content: "\e012";
}
.icon-outlined-eye:before {
	content: "\e013";
}
.icon-outlined-bubble:before {
	content: "\e014";
}
.icon-outlined-drawer:before {
	content: "\e015";
}
.icon-outlined-cup:before {
	content: "\e016";
}
.icon-outlined-phone:before {
	content: "\e017";
}
.icon-outlined-news:before {
	content: "\e018";
}
.icon-outlined-mail:before {
	content: "\e019";
}
.icon-outlined-like:before {
	content: "\e01a";
}
.icon-outlined-photo:before {
	content: "\e01b";
}
.icon-outlined-note:before {
	content: "\e01c";
}
.icon-outlined-clock:before {
	content: "\e01d";
}
.icon-outlined-paperplane:before {
	content: "\e01e";
}
.icon-outlined-params:before {
	content: "\e01f";
}
.icon-outlined-banknote:before {
	content: "\e020";
}
.icon-outlined-data:before {
	content: "\e021";
}
.icon-outlined-music:before {
	content: "\e022";
}
.icon-outlined-megaphone:before {
	content: "\e023";
}
.icon-outlined-study:before {
	content: "\e024";
}
.icon-outlined-lab:before {
	content: "\e025";
}
.icon-outlined-food:before {
	content: "\e026";
}
.icon-outlined-t-shirt:before {
	content: "\e027";
}
.icon-outlined-fire:before {
	content: "\e028";
}
.icon-outlined-clip:before {
	content: "\e029";
}
.icon-outlined-shop:before {
	content: "\e02a";
}
.icon-outlined-calendar:before {
	content: "\e02b";
}
.icon-outlined-wallet:before {
	content: "\e02c";
}
.icon-outlined-vynil:before {
	content: "\e02d";
}
.icon-outlined-truck:before {
	content: "\e02e";
}
.icon-outlined-world:before {
	content: "\e02f";
}
.icon-phone:before {
	content: "\e030";
}
.icon-mobile:before {
	content: "\e031";
}
.icon-mouse:before {
	content: "\e032";
}
.icon-directions:before {
	content: "\e033";
}
.icon-mail:before {
	content: "\e034";
}
.icon-paperplane:before {
	content: "\e035";
}
.icon-pencil:before {
	content: "\e036";
}
.icon-feather:before {
	content: "\e037";
}
.icon-paperclip:before {
	content: "\e038";
}
.icon-drawer:before {
	content: "\e039";
}
.icon-reply:before {
	content: "\e03a";
}
.icon-reply-all:before {
	content: "\e03b";
}
.icon-forward:before {
	content: "\e03c";
}
.icon-user:before {
	content: "\e03d";
}
.icon-users:before {
	content: "\e03e";
}
.icon-user-add:before {
	content: "\e03f";
}
.icon-vcard:before {
	content: "\e040";
}
.icon-export:before {
	content: "\e041";
}
.icon-location:before {
	content: "\e042";
}
.icon-map:before {
	content: "\e043";
}
.icon-compass:before {
	content: "\e044";
}
.icon-location-2:before {
	content: "\e045";
}
.icon-target:before {
	content: "\e046";
}
.icon-share:before {
	content: "\e047";
}
.icon-sharable:before {
	content: "\e048";
}
.icon-heart:before {
	content: "\e049";
}
.icon-heart-2:before {
	content: "\e04a";
}
.icon-star:before {
	content: "\e04b";
}
.icon-star-2:before {
	content: "\e04c";
}
.icon-thumbs-up:before {
	content: "\e04d";
}
.icon-thumbs-down:before {
	content: "\e04e";
}
.icon-chat:before {
	content: "\e04f";
}
.icon-comment:before {
	content: "\e050";
}
.icon-quote:before {
	content: "\e051";
}
.icon-house:before {
	content: "\e052";
}
.icon-popup:before {
	content: "\e053";
}
.icon-search:before {
	content: "\e054";
}
.icon-flashlight:before {
	content: "\e055";
}
.icon-printer:before {
	content: "\e056";
}
.icon-bell:before {
	content: "\e057";
}
.icon-link:before {
	content: "\e058";
}
.icon-flag:before {
	content: "\e059";
}
.icon-cog:before {
	content: "\e05a";
}
.icon-tools:before {
	content: "\e05b";
}
.icon-trophy:before {
	content: "\e05c";
}
.icon-tag:before {
	content: "\e05d";
}
.icon-camera:before {
	content: "\e05e";
}
.icon-megaphone:before {
	content: "\e05f";
}
.icon-moon:before {
	content: "\e060";
}
.icon-palette:before {
	content: "\e061";
}
.icon-leaf:before {
	content: "\e062";
}
.icon-music:before {
	content: "\e063";
}
.icon-music-2:before {
	content: "\e064";
}
.icon-new:before {
	content: "\e065";
}
.icon-graduation:before {
	content: "\e066";
}
.icon-book:before {
	content: "\e067";
}
.icon-newspaper:before {
	content: "\e068";
}
.icon-bag:before {
	content: "\e069";
}
.icon-airplane:before {
	content: "\e06a";
}
.icon-lifebuoy:before {
	content: "\e06b";
}
.icon-eye:before {
	content: "\e06c";
}
.icon-clock:before {
	content: "\e06d";
}
.icon-microphone:before {
	content: "\e06e";
}
.icon-calendar:before {
	content: "\e06f";
}
.icon-bolt:before {
	content: "\e070";
}
.icon-thunder:before {
	content: "\e071";
}
.icon-droplet:before {
	content: "\e072";
}
.icon-cd:before {
	content: "\e073";
}
.icon-briefcase:before {
	content: "\e074";
}
.icon-air:before {
	content: "\e075";
}
.icon-hourglass:before {
	content: "\e076";
}
.icon-gauge:before {
	content: "\e077";
}
.icon-language:before {
	content: "\e078";
}
.icon-network:before {
	content: "\e079";
}
.icon-key:before {
	content: "\e07a";
}
.icon-battery:before {
	content: "\e07b";
}
.icon-bucket:before {
	content: "\e07c";
}
.icon-magnet:before {
	content: "\e07d";
}
.icon-drive:before {
	content: "\e07e";
}
.icon-cup:before {
	content: "\e07f";
}
.icon-rocket:before {
	content: "\e080";
}
.icon-brush:before {
	content: "\e081";
}
.icon-suitcase:before {
	content: "\e082";
}
.icon-cone:before {
	content: "\e083";
}
.icon-earth:before {
	content: "\e084";
}
.icon-keyboard:before {
	content: "\e085";
}
.icon-browser:before {
	content: "\e086";
}
.icon-publish:before {
	content: "\e087";
}
.icon-progress-3:before {
	content: "\e088";
}
.icon-progress-2:before {
	content: "\e089";
}
.icon-brogress-1:before {
	content: "\e08a";
}
.icon-progress-0:before {
	content: "\e08b";
}
.icon-sun:before {
	content: "\e08c";
}
.icon-sun-2:before {
	content: "\e08d";
}
.icon-adjust:before {
	content: "\e08e";
}
.icon-code:before {
	content: "\e08f";
}
.icon-screen:before {
	content: "\e090";
}
.icon-infinity:before {
	content: "\e091";
}
.icon-light-bulb:before {
	content: "\e092";
}
.icon-credit-card:before {
	content: "\e093";
}
.icon-database:before {
	content: "\e094";
}
.icon-voicemail:before {
	content: "\e095";
}
.icon-clipboard:before {
	content: "\e096";
}
.icon-cart:before {
	content: "\e097";
}
.icon-box:before {
	content: "\e098";
}
.icon-ticket:before {
	content: "\e099";
}
.icon-rss:before {
	content: "\e09a";
}
.icon-signal:before {
	content: "\e09b";
}
.icon-thermometer:before {
	content: "\e09c";
}
.icon-droplets:before {
	content: "\e09d";
}
.icon-untitled:before {
	content: "\e09e";
}
.icon-statistics:before {
	content: "\e09f";
}
.icon-pie:before {
	content: "\e0a0";
}
.icon-bars:before {
	content: "\e0a1";
}
.icon-graph:before {
	content: "\e0a2";
}
.icon-lock:before {
	content: "\e0a3";
}
.icon-lock-open:before {
	content: "\e0a4";
}
.icon-logout:before {
	content: "\e0a5";
}
.icon-login:before {
	content: "\e0a6";
}
.icon-checkmark:before {
	content: "\e0a7";
}
.icon-cross:before {
	content: "\e0a8";
}
.icon-minus:before {
	content: "\e0a9";
}
.icon-plus:before {
	content: "\e0aa";
}
.icon-cross-2:before {
	content: "\e0ab";
}
.icon-minus-2:before {
	content: "\e0ac";
}
.icon-plus-2:before {
	content: "\e0ad";
}
.icon-cross-3:before {
	content: "\e0ae";
}
.icon-minus-3:before {
	content: "\e0af";
}
.icon-plus-3:before {
	content: "\e0b0";
}
.icon-erase:before {
	content: "\e0b1";
}
.icon-blocked:before {
	content: "\e0b2";
}
.icon-info:before {
	content: "\e0b3";
}
.icon-info-2:before {
	content: "\e0b4";
}
.icon-question:before {
	content: "\e0b5";
}
.icon-help:before {
	content: "\e0b6";
}
.icon-warning:before {
	content: "\e0b7";
}
.icon-cycle:before {
	content: "\e0b8";
}
.icon-cw:before {
	content: "\e0b9";
}
.icon-ccw:before {
	content: "\e0ba";
}
.icon-shuffle:before {
	content: "\e0bb";
}
.icon-arrow:before {
	content: "\e0bc";
}
.icon-arrow-2:before {
	content: "\e0bd";
}
.icon-retweet:before {
	content: "\e0be";
}
.icon-loop:before {
	content: "\e0bf";
}
.icon-history:before {
	content: "\e0c0";
}
.icon-back:before {
	content: "\e0c1";
}
.icon-switch:before {
	content: "\e0c2";
}
.icon-list:before {
	content: "\e0c3";
}
.icon-add-to-list:before {
	content: "\e0c4";
}
.icon-layout:before {
	content: "\e0c5";
}
.icon-list-2:before {
	content: "\e0c6";
}
.icon-text:before {
	content: "\e0c7";
}
.icon-text-2:before {
	content: "\e0c8";
}
.icon-document:before {
	content: "\e0c9";
}
.icon-docs:before {
	content: "\e0ca";
}
.icon-landscape:before {
	content: "\e0cb";
}
.icon-pictures:before {
	content: "\e0cc";
}
.icon-video:before {
	content: "\e0cd";
}
.icon-music-3:before {
	content: "\e0ce";
}
.icon-folder:before {
	content: "\e0cf";
}
.icon-archive:before {
	content: "\e0d0";
}
.icon-trash:before {
	content: "\e0d1";
}
.icon-upload:before {
	content: "\e0d2";
}
.icon-download:before {
	content: "\e0d3";
}
.icon-disk:before {
	content: "\e0d4";
}
.icon-install:before {
	content: "\e0d5";
}
.icon-cloud:before {
	content: "\e0d6";
}
.icon-upload-2:before {
	content: "\e0d7";
}
.icon-bookmark:before {
	content: "\e0d8";
}
.icon-bookmarks:before {
	content: "\e0d9";
}
.icon-book-2:before {
	content: "\e0da";
}
.icon-play:before {
	content: "\e0db";
}
.icon-pause:before {
	content: "\e0dc";
}
.icon-record:before {
	content: "\e0dd";
}
.icon-stop:before {
	content: "\e0de";
}
.icon-next:before {
	content: "\e0df";
}
.icon-previous:before {
	content: "\e0e0";
}
.icon-first:before {
	content: "\e0e1";
}
.icon-last:before {
	content: "\e0e2";
}
.icon-resize-enlarge:before {
	content: "\e0e3";
}
.icon-resize-shrink:before {
	content: "\e0e4";
}
.icon-volume:before {
	content: "\e0e5";
}
.icon-sound:before {
	content: "\e0e6";
}
.icon-mute:before {
	content: "\e0e7";
}
.icon-flow-cascade:before {
	content: "\e0e8";
}
.icon-flow-tree:before {
	content: "\e0ea";
}
.icon-arrow-left:before {
	content: "\e0ed";
}
.icon-arrow-down:before {
	content: "\e0ee";
}
.icon-arrow-up--upload:before {
	content: "\e0ef";
}
.icon-arrow-right:before {
	content: "\e0f0";
}
.icon-arrow-left-2:before {
	content: "\e0f1";
}
.icon-arrow-down-2:before {
	content: "\e0f2";
}
.icon-arrow-up:before {
	content: "\e0f3";
}
.icon-arrow-right-2:before {
	content: "\e0f4";
}
.icon-arrow-left-3:before {
	content: "\e0f9";
}
.icon-arrow-down-3:before {
	content: "\e0fa";
}
.icon-arrow-up-2:before {
	content: "\e0fb";
}
.icon-arrow-right-3:before {
	content: "\e0fc";
}
.icon-arrow-left-4:before {
	content: "\e0fd";
}
.icon-arrow-down-4:before {
	content: "\e0fe";
}
.icon-arrow-up-3:before {
	content: "\e0ff";
}
.icon-arrow-right-4:before {
	content: "\e100";
}
.icon-arrow-left-5:before {
	content: "\e101";
}
.icon-arrow-down-5:before {
	content: "\e102";
}
.icon-arrow-up-4:before {
	content: "\e103";
}
.icon-arrow-right-5:before {
	content: "\e104";
}
.icon-arrow-left-6:before {
	content: "\e105";
}
.icon-arrow-down-6:before {
	content: "\e106";
}
.icon-arrow-up-5:before {
	content: "\e107";
}
.icon-untitled-2:before {
	content: "\e108";
}
.icon-menu:before {
	content: "\e10d";
}
.icon-ellipsis:before {
	content: "\e10e";
}
.icon-dots:before {
	content: "\e10f";
}
.icon-dot:before {
	content: "\e110";
}
.icon-cc:before {
	content: "\e111";
}
.icon-cc-by:before {
	content: "\e112";
}
.icon-cc-nc:before {
	content: "\e113";
}
.icon-cc-nc-eu:before {
	content: "\e114";
}
.icon-cc-nc-jp:before {
	content: "\e115";
}
.icon-cc-sa:before {
	content: "\e116";
}
.icon-cc-nd:before {
	content: "\e117";
}
.icon-cc-pd:before {
	content: "\e118";
}
.icon-cc-zero:before {
	content: "\e119";
}
.icon-cc-share:before {
	content: "\e11a";
}
.icon-cc-share-2:before {
	content: "\e11b";
}
.icon-github:before {
	content: "\e11e";
}
.icon-github-2:before {
	content: "\e11f";
}
.icon-flickr:before {
	content: "\e120";
}
.icon-flickr-2:before {
	content: "\e121";
}
.icon-vimeo:before {
	content: "\e122";
}
.icon-vimeo-2:before {
	content: "\e123";
}
.icon-twitter:before {
	content: "\e124";
}
.icon-twitter-2:before {
	content: "\e125";
}
.icon-facebook:before {
	content: "\e126";
}
.icon-facebook-2:before {
	content: "\e127";
}
.icon-facebook-3:before {
	content: "\e128";
}
.icon-googleplus:before {
	content: "\e129";
}
.icon-googleplus-2:before {
	content: "\e12a";
}
.icon-pinterest:before {
	content: "\e12b";
}
.icon-pinterest-2:before {
	content: "\e12c";
}
.icon-tumblr:before {
	content: "\e12d";
}
.icon-tumblr-2:before {
	content: "\e12e";
}
.icon-linkedin:before {
	content: "\e12f";
}
.icon-linkedin-2:before {
	content: "\e130";
}
.icon-dribbble:before {
	content: "\e131";
}
.icon-dribbble-2:before {
	content: "\e132";
}
.icon-stumbleupon:before {
	content: "\e133";
}
.icon-stumbleupon-2:before {
	content: "\e134";
}
.icon-lastfm:before {
	content: "\e135";
}
.icon-lastfm-2:before {
	content: "\e136";
}
.icon-rdio:before {
	content: "\e137";
}
.icon-rdio-2:before {
	content: "\e138";
}
.icon-spotify:before {
	content: "\e139";
}
.icon-spotify-2:before {
	content: "\e13a";
}
.icon-qq:before {
	content: "\e13b";
}
.icon-instagram:before {
	content: "\e13c";
}
.icon-dropbox:before {
	content: "\e13d";
}
.icon-evernote:before {
	content: "\e13e";
}
.icon-flattr:before {
	content: "\e13f";
}
.icon-skype:before {
	content: "\e140";
}
.icon-skype-2:before {
	content: "\e141";
}
.icon-renren:before {
	content: "\e142";
}
.icon-sina-weibo:before {
	content: "\e143";
}
.icon-paypal:before {
	content: "\e144";
}
.icon-picasa:before {
	content: "\e145";
}
.icon-soundcloud:before {
	content: "\e146";
}
.icon-mixi:before {
	content: "\e147";
}
.icon-behance:before {
	content: "\e148";
}
.icon-circles:before {
	content: "\e149";
}
.icon-vk:before {
	content: "\e14a";
}
.icon-arrow-soft-up:before {
	content: "\e0e9";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-youtube-sign:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-shield:before {
	content: "\f132";
}
.icon-facetime-video:before {
	content: "\f03d";
}
.icon-picture:before {
	content: "\f03e";
}
.icon-pocket:before {
	content: "\e0eb";
}
.icon-reddit:before {
	content: "\e0ec";
}
.icon-digg:before {
	content: "\e0f5";
}
.icon-thinarrow-right:before {
	content: "\e0f6";
}
.icon-thinarrow-left:before {
	content: "\e0f7";
}
.icon-xing-sign:before {
	content: "\f169";
}
.icon-xing:before {
	content: "\f168";
}
.icon-trello:before {
	content: "\f181";
}
.icon-skype-3:before {
	content: "\f17e";
}
.icon-android:before {
	content: "\f17b";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-apple:before {
	content: "\f179";
}
